# Imports

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt
from scipy.sparse import csr_matrix
import warnings
warnings.filterwarnings("ignore")
from sklearn import set_config; set_config(display='diagram')

In [2]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler, StandardScaler
from sklearn.pipeline import Pipeline, make_pipeline
from sklearn.compose import ColumnTransformer, make_column_transformer, make_column_selector
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import Ridge, Lasso, LinearRegression, LogisticRegression
from sklearn.model_selection import RandomizedSearchCV

# Load Data

In [3]:
df = pd.read_csv('dataset_SCL.csv', low_memory=False)

In [4]:
df.head()

,Fecha-I,Vlo-I,Ori-I,Des-I,Emp-I,Fecha-O,Vlo-O,Ori-O,Des-O,Emp-O,DIA,MES,AÑO,DIANOM,TIPOVUELO,OPERA,SIGLAORI,SIGLADES
0,2017-01-01 23:30:00,226,SCEL,KMIA,AAL,2017-01-01 23:33:00,226,SCEL,KMIA,AAL,1,1,2017,Domingo,I,American Airlines,Santiago,Miami
1,2017-01-02 23:30:00,226,SCEL,KMIA,AAL,2017-01-02 23:39:00,226,SCEL,KMIA,AAL,2,1,2017,Lunes,I,American Airlines,Santiago,Miami
2,2017-01-03 23:30:00,226,SCEL,KMIA,AAL,2017-01-03 23:39:00,226,SCEL,KMIA,AAL,3,1,2017,Martes,I,American Airlines,Santiago,Miami
3,2017-01-04 23:30:00,226,SCEL,KMIA,AAL,2017-01-04 23:33:00,226,SCEL,KMIA,AAL,4,1,2017,Miercoles,I,American Airlines,Santiago,Miami
4,2017-01-05 23:30:00,226,SCEL,KMIA,AAL,2017-01-05 23:28:00,226,SCEL,KMIA,AAL,5,1,2017,Jueves,I,American Airlines,Santiago,Miami

In [5]:
df['SIGLADES'].value_counts()

Buenos Aires      6335
Antofagasta       5786
Lima              5270
Calama            5146
Puerto Montt      4357
                  ...
Quito                2
Washington           1
Pisco, Peru          1
Puerto Stanley       1
Cochabamba           1
Name: SIGLADES, Length: 62, dtype: int64

# Data Cleaning

Exploración de la data y una primera limpieza de datos no relevantes.

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68206 entries, 0 to 68205
Data columns (total 18 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Fecha-I    68206 non-null  object
 1   Vlo-I      68206 non-null  object
 2   Ori-I      68206 non-null  object
 3   Des-I      68206 non-null  object
 4   Emp-I      68206 non-null  object
 5   Fecha-O    68206 non-null  object
 6   Vlo-O      68205 non-null  object
 7   Ori-O      68206 non-null  object
 8   Des-O      68206 non-null  object
 9   Emp-O      68206 non-null  object
 10  DIA        68206 non-null  int64
 11  MES        68206 non-null  int64
 12  AÑO        68206 non-null  int64
 13  DIANOM     68206 non-null  object
 14  TIPOVUELO  68206 non-null  object
 15  OPERA      68206 non-null  object
 16  SIGLAORI   68206 non-null  object
 17  SIGLADES   68206 non-null  object
dtypes: int64(3), object(15)
memory usage: 9.4+ MB

In [7]:
#Chequeamos valores nulos
print(f'========Nulos=======\n{df.isnull().sum()}')

========Nulos=======
Fecha-I      0
Vlo-I        0
Ori-I        0
Des-I        0
Emp-I        0
Fecha-O      0
Vlo-O        1
Ori-O        0
Des-O        0
Emp-O        0
DIA          0
MES          0
AÑO          0
DIANOM       0
TIPOVUELO    0
OPERA        0
SIGLAORI     0
SIGLADES     0
dtype: int64

In [8]:
#Chequeamos valores duplicados.
print(f'Duplicados:{df.duplicated().sum()}')

Duplicados:0

Vemos que no existen valores duplicados ni nulos relevantes, de forma que no es necesario lidear con estos problemas.
Exploramos en detalle el tipo de data en cada columna para poder ver que tipo de preprocesamiento es necesario en el siguiente paso.

In [9]:
df.dtypes

Fecha-I      object
Vlo-I        object
Ori-I        object
Des-I        object
Emp-I        object
Fecha-O      object
Vlo-O        object
Ori-O        object
Des-O        object
Emp-O        object
DIA           int64
MES           int64
AÑO           int64
DIANOM       object
TIPOVUELO    object
OPERA        object
SIGLAORI     object
SIGLADES     object
dtype: object

In [10]:
#Cambiando nombre de columnas para hacer mas facil la comprension
df.rename(columns={'Fecha-I': 'Fecha_prog', 'Vlo-I':'Vuelo_prog', 'Ori-I':'Origen_prog', 'Des-I':'Destino_prog', 'Emp-I':'Aerolinea_prog', 'Fecha-O':'Fecha_oper', 'Vlo-O':'Vuelo_oper','Ori-O':'Origen_oper', 'Des-O':'Destino_oper', 'Emp-O':'Aerolinea_oper', 'SIGLAORI':'Origen', 'SIGLADES':'DESTINO'}, inplace=True)

In [11]:
#Podemos eliminar origen programado ya que es el mismo que el operado.  #Eliminaos todo, siempre es SCLE
df.drop(['Origen_prog','Origen','Origen_oper'], axis=1, inplace=True)

In [12]:
#El numero de vuelo  influye en el retraso? Creemos que no
df.drop(['Vuelo_prog','Vuelo_oper'], axis=1, inplace=True)

In [13]:
df.Destino_prog.equals(df.Destino_oper)
#NO poseen la misma info, es  decir que ouede cambiar el destino de lo programado a lo operado. 
#No se puede eliminar columna por ahora.

False

In [14]:
#Aerolinas programads VS operadas.
df.Aerolinea_prog.equals(df.Aerolinea_oper)
#No siempre la Aerolinea programada es la misma que la operada.

False

In [15]:
# Crear columna Tipo cqtetorica para TIPOVUELO DIANOM CAMBIO_AERO CAMBIO_DEST
# COMO TRATO DESTINO PROG Y AEROLINA PROG y AEROLINA OPER????
#OPCION 1. PARA AEROLINEA_oper puedo eliminar, pensando que no influye la aerolina que opera en la demora,
#sino el cambio y la programada.

# difference_1 = [item for item in airport_IATA_CODE if item not in df1_ORIGIN]

# FEATURE INGENIERING

En esta sección se creara las columnas con la info solicitada. Luego se evaluara si es posible deshechar alguna otra columna de modo que los datos sean mas claros.

## Creamos las columnas solicitadas

In [16]:
#Formato de tiempo para Fecha_prog y Fecha_oper
df['Fecha_prog']= pd.to_datetime(df['Fecha_prog'],format='%Y/%m/%d %H:%M:%S')
df['Fecha_oper']= pd.to_datetime(df['Fecha_oper'],format='%Y/%m/%d %H:%M:%S')

In [17]:
#DEMORAS_EN_MIN
df['dif_min']= (df['Fecha_oper'] -df['Fecha_prog'])
df['dif_min']= df['dif_min'].dt.total_seconds()/60

In [18]:
#ATRASO_MAYOR_15MIN
df['atraso_15'] = pd.cut(x = df['dif_min'],
                       bins=[df['dif_min'].min()-1,
                             15,
                             df['dif_min'].max()+1], 
                       labels=['0', '1'])
df['atraso_15'] =df['atraso_15'].astype(int)

In [19]:
#TEMPORADA_ALTA
df['time']=(df['Fecha_prog'].dt.strftime('%m%d')).astype(int)
bins1 = [101,303,715,801,911,930,1215,1231]
labels =['1','0', '1', '0','1','0','1']
df['temporada_alta'] = pd.cut(x = df['time'],
                      bins=[101,303,715,801,911,930,1215,1231],include_lowest=True, 
                       labels=['1','0', '1', '0','1','0','1'], ordered=False)

In [20]:
# ○ periodo_dia : mañana (entre 5:00 y 11:59), tarde (entre 12:00 y 18:59) y noche (entre 19:00 y 4:59), en base a Fecha-I 
x = (df['Fecha_prog'].dt.strftime('%H%M')).astype(float)
df['periodo_dia'] = pd.cut(x = x,
                      bins=[0,500,1200,1900,2400],include_lowest=True, right=False, 
                       labels=['noche','mañana', 'tarde', 'noche'], ordered=False)

In [21]:
#TEMPORADA_ALTA
df['time']=(df['Fecha_prog'].dt.strftime('%m%d')).astype(int)
bins1 = [101,303,715,801,911,930,1215,1231]
labels =['1','0', '1', '0','1','0','1']
df['temporada_alta'] = pd.cut(x = df['time'],
                      bins=[101,303,715,801,911,930,1215,1231],include_lowest=True, 
                       labels=['1','0', '1', '0','1','0','1'], ordered=False)

## Nuevas variables y depuración

Para poder estudiar el impacto del cambio de destino o de aerolina sobre el retraso creamos dos nuevas variables categoricas. Cambio_destino: indica si existio o no cambio de destino, y Cambio_aerolinea: informa si existio o no cambio de aerolinea.

In [22]:
#Creamos una columna para detrerminar si hubo o no cambio de destino con respecto a lo programado.
df['Cambio_destino'] = (df['Destino_prog']!=df['Destino_oper'])

In [23]:
#Creamos una columna para detrerminar si hubo o no cambio de linea con respecto a lo programado.
df['Cambio_aerolinea'] = (df['Aerolinea_prog']!=df['Aerolinea_oper'])

Una vez creadas las columnas necesarias eliminamos las que no poseen datos relevantes

In [24]:
#Podemos dropear la columna Time. Esta columna fue creada para calcular las diferentes temporadas de viaje, 
#ya no posee info relevante.
df.drop('time', axis=1, inplace=True)

El posible impacto de cambio de destino o de aerolinea en el retraso esta contenido por las variables cambio de destino y cambio de aerolinea. Esto nos permite eliminar las variables destino_prog y aerolinea_prog. De este modo solo nos quedamos con el nombre de completo de la Aerolinea que opera y lo mismo para el destino.

Tambien podemos prescinde de las fechas programadas y operadas ya que el retraso para cada vuelo se encuentra en las dos variables creadas  (dif_min, atraso_15). Para el caso de dia mes y año, cada uno tiene su propia variable.

In [25]:
#Dropear la sigla de lo operado y lo progamado, solo nos quedamos con el nombre de lo operado.
df.drop(['Aerolinea_prog','Aerolinea_oper', 'Destino_oper','Destino_prog'], axis=1, inplace=True)

In [26]:
#Borrar fecha_prog y fecha_oper. No brindan info adicional. Ya usamos para calcular el atraso, tenemos dia
#y mes en otra columna.
df.drop(['Fecha_prog','Fecha_oper'], axis=1, inplace=True)

In [27]:
#chequemos nuestro depurado dataframe y su shape.
print(f'Shape de dataframe depurado: {df.shape}')
df.head()

Shape de dataframe depurado: (68206, 13)

,DIA,MES,AÑO,DIANOM,TIPOVUELO,OPERA,DESTINO,dif_min,atraso_15,temporada_alta,periodo_dia,Cambio_destino,Cambio_aerolinea
0,1,1,2017,Domingo,I,American Airlines,Miami,3.0,0,1,noche,False,False
1,2,1,2017,Lunes,I,American Airlines,Miami,9.0,0,1,noche,False,False
2,3,1,2017,Martes,I,American Airlines,Miami,9.0,0,1,noche,False,False
3,4,1,2017,Miercoles,I,American Airlines,Miami,3.0,0,1,noche,False,False
4,5,1,2017,Jueves,I,American Airlines,Miami,-2.0,0,1,noche,False,False

Una vez definidas nuestras variables de interes vamos a proceder a hacer un analisis exploratorio para poder hacer un preprocesamiento de los datos.

# Tasas de atrasos

In [28]:
total_atrasos = df['atraso_15'].sum()
total_atrasos

12614

In [29]:
#Pordriamos plantear que ante cambio de destino, la demora no se atribuye. 
df_cambio_aerolinea = df.loc[df['Cambio_aerolinea'] == True]
df_cambio_destino = df.loc[df['Cambio_destino'] == True]

In [30]:
#TASA DE RETRASO POR DESTINO
retraso_destino = df[['atraso_15', 'DESTINO']]
retraso_destino = retraso_destino.groupby('DESTINO').count()
retraso_destino.rename(columns={'atraso_15':'Total_vuelos'}, inplace=True)
retraso_destino['retrasos'] = df[['atraso_15', 'DESTINO']].groupby('DESTINO').sum()
retraso_destino['tasa_retraso']=(retraso_destino['retrasos'])/(retraso_destino['Total_vuelos'])
retraso_destino =retraso_destino.sort_values('tasa_retraso', ascending=False)
retraso_destino

                  Total_vuelos  retrasos  tasa_retraso
DESTINO
Quito                        2         2      1.000000
Puerto Stanley               1         1      1.000000
Cochabamba                   1         1      1.000000
Ushuia                       6         4      0.666667
Sydney                     194       113      0.582474
...                        ...       ...           ...
Houston                    334        17      0.050898
Curitiba, Bra.               3         0      0.000000
Cataratas Iguacu             2         0      0.000000
Pisco, Peru                  1         0      0.000000
Washington                   1         0      0.000000

[62 rows x 3 columns]

In [31]:
#TASA DE RETRASO POR AEROLINEA

retraso_aerolinea = df[['atraso_15', 'OPERA']]
retraso_aerolinea = retraso_aerolinea.groupby('OPERA').count()
retraso_aerolinea.rename(columns={'atraso_15':'Total_vuelos'}, inplace=True)
retraso_aerolinea['retrasos'] = df[['atraso_15', 'OPERA']].groupby('OPERA').sum()
retraso_aerolinea['tasa_retraso']=(retraso_aerolinea['retrasos'])/(retraso_aerolinea['Total_vuelos'])
retraso_aerolinea =retraso_aerolinea.sort_values('tasa_retraso', ascending=False)
retraso_aerolinea

                          Total_vuelos  retrasos  tasa_retraso
OPERA
Plus Ultra Lineas Aereas            49        30      0.612245
Qantas Airways                     195       113      0.579487
Air Canada                         565       258      0.456637
Latin American Wings              1674       681      0.406810
Gol Trans                          806       287      0.356079
Avianca                           1152       306      0.265625
Aerolineas Argentinas             1949       468      0.240123
Austral                             74        15      0.202703
JetSmart SPA                      1095       196      0.178995
Grupo LATAM                      40892      7306      0.178666
Sky Airline                      14298      2540      0.177647
Oceanair Linhas Aereas             279        43      0.154122
British Airways                    205        29      0.141463
Lacsa                               92        11      0.119565
Alitalia                           259        29      0.111969
Iberia                             362        36      0.099448
Air France                         358        30      0.083799
K.L.M.                             251        21      0.083665
American Airlines                  757        51      0.067371
Copa Air                          1850       116      0.062703
Delta Air                          358        21      0.058659
United Airlines                    335        17      0.050746
Aeromexico                         351        10      0.028490

In [32]:
#TASA DE RETRASO POR MES
retraso_mes = df[['atraso_15', 'MES']]
retraso_mes = retraso_mes.groupby('MES').count()
retraso_mes.rename(columns={'atraso_15':'Total_vuelos'}, inplace=True)
retraso_mes['retrasos'] = df[['atraso_15', 'MES']].groupby('MES').sum()
retraso_mes['tasa_retraso']=(retraso_mes['retrasos'])/(retraso_mes['Total_vuelos'])
retraso_mes =retraso_mes.sort_values('tasa_retraso', ascending=False)
retraso_mes

     Total_vuelos  retrasos  tasa_retraso
MES
7            5992      1758      0.293391
12           6356      1615      0.254091
10           6032      1363      0.225962
11           6080      1199      0.197204
8            5744       996      0.173398
9            5610       967      0.172371
6            4981       852      0.171050
1            6108       978      0.160118
5            5240       827      0.157824
2            5561       843      0.151591
4            5020       585      0.116534
3            5482       631      0.115104

In [33]:
#TASA DE RETRASO POR DIANOM
retraso_dianom = df[['atraso_15', 'DIANOM']]
retraso_dianom = retraso_dianom.groupby('DIANOM').count()
retraso_dianom.rename(columns={'atraso_15':'Total_vuelos'}, inplace=True)
retraso_dianom['retrasos'] = df[['atraso_15', 'DIANOM']].groupby('DIANOM').sum()
retraso_dianom['tasa_retraso']=(retraso_dianom['retrasos'])/(retraso_dianom['Total_vuelos'])
retraso_dianom =retraso_dianom.sort_values('tasa_retraso', ascending=False)
retraso_dianom

           Total_vuelos  retrasos  tasa_retraso
DIANOM
Viernes           10292      2285      0.222017
Lunes             10131      2048      0.202152
Jueves            10251      2045      0.199493
Miercoles          9722      1661      0.170850
Martes             9662      1634      0.169116
Sabado             8352      1363      0.163194
Domingo            9796      1578      0.161086

In [34]:
#TASA DE RETRASO POR TEMPORADA
retraso_temporada = df[['atraso_15', 'temporada_alta']]
retraso_temporada = retraso_temporada.groupby('temporada_alta').count()
retraso_temporada.rename(columns={'atraso_15':'Total_vuelos'}, inplace=True)
retraso_temporada['retrasos'] = df[['atraso_15', 'temporada_alta']].groupby('temporada_alta').sum()
retraso_temporada['tasa_retraso']=(retraso_temporada['retrasos'])/(retraso_temporada['Total_vuelos'])
retraso_temporada =retraso_temporada.sort_values('tasa_retraso', ascending=False)
retraso_temporada

                Total_vuelos  retrasos  tasa_retraso
temporada_alta
1                      22379      4275      0.191027
0                      45827      8339      0.181967

In [35]:
#TASA DE RETRASO POR TIPO DE VUELO
retraso_tipovuelo = df[['atraso_15', 'TIPOVUELO']]
retraso_tipovuelo = retraso_tipovuelo.groupby('TIPOVUELO').count()
retraso_tipovuelo.rename(columns={'atraso_15':'Total_vuelos'}, inplace=True)
retraso_tipovuelo['retrasos'] = df[['atraso_15', 'TIPOVUELO']].groupby('TIPOVUELO').sum()
retraso_tipovuelo['tasa_retraso']=(retraso_tipovuelo['retrasos'])/(retraso_tipovuelo['Total_vuelos'])
retraso_tipovuelo =retraso_tipovuelo.sort_values('tasa_retraso', ascending=False)
retraso_tipovuelo

           Total_vuelos  retrasos  tasa_retraso
TIPOVUELO
I                 31240      7048      0.225608
N                 36966      5566      0.150571

In [64]:
retraso_tipovuelo.set_index('tasa_retraso')
data_frames=[retraso_aerolinea,retraso_destino,retraso_dianom,retraso_mes,retraso_temporada,retraso_tipovuelo]
merged_df = pd.concat(data_frames, axis=0)
pd.DataFrame.to_csv(merged_df, 'synthetic_features.csv', sep=',', na_rep='.', index=False)

## Filtro de Destino y Aerolinea

Dada la cantida de aerolineas y destinos que operan, se efectua un filtro para los dos casos. El filtro consiste en desestimar las aerolineas y destinos que hayan tenido una tasa de retras menor al 10%

**DESTINO**

In [36]:
# Eliminamos los destinos que tienen una tasa de retraso menor al 10%. Se eliminin 12 destinos. 
destino_filter= retraso_destino['tasa_retraso']>=0.10
destinos_retrasos = retraso_destino[destino_filter].index
df=df[df['DESTINO'].isin(destinos_retrasos)]

**AEROLINEA**

In [37]:
# Eliminamos las aerolineas que tienen una tasa de retraso menor al 10%.
aero_filter= retraso_aerolinea['tasa_retraso']>=0.10
aerolineas_retraso = retraso_aerolinea[aero_filter].index
df=df[df['OPERA'].isin(aerolineas_retraso)]

In [38]:
df.shape

(62914, 13)

# PREPROCESSING

Una vez limpieado y dejado nuestra data orddenada podemos podemos hacer un preprocesamiento de los datos para luego hacer las predicciones.

In [39]:
#Chequeamos caracteristicas de nuestros datos una 
df.dtypes

DIA                    int64
MES                    int64
AÑO                    int64
DIANOM                object
TIPOVUELO             object
OPERA                 object
DESTINO               object
dif_min              float64
atraso_15              int64
temporada_alta      category
periodo_dia         category
Cambio_destino          bool
Cambio_aerolinea        bool
dtype: object

In [40]:
#Definimos nuestras features y nuetra variable a predecir.
y=df['atraso_15']
X=df.drop('atraso_15', axis=1)

In [41]:
#Dividimos nuestra data en train test para poder hacer preprocesing sobre train.
X_train, X_test, y_train, y_test= train_test_split(X,y, test_size=0.2)

In [42]:
# Creamos un pipeline para las features
preproc_categorical_baseline = make_pipeline(
    OneHotEncoder(handle_unknown="ignore", sparse = False))

preproc_baseline = make_column_transformer((preproc_categorical_baseline, 
                                            make_column_selector(dtype_include=["category", "int64",'object'],
                                                                 dtype_exclude=['bool','float64'])),
                                           remainder="passthrough")

preproc_baseline

ColumnTransformer(remainder='passthrough',
                  transformers=[('pipeline',
                                 Pipeline(steps=[('onehotencoder',
                                                  OneHotEncoder(handle_unknown='ignore',
                                                                sparse=False))]),
                                 <sklearn.compose._column_transformer.make_column_selector object at 0x124834bb0>)])

In [43]:
X_train_transformed = preproc_baseline.fit_transform(X_train)
X_transformed_shape= X_train_transformed.shape
X_transformed_shape

(50331, 127)

In [44]:
SimpleImputer.get_feature_names_out = (lambda self, names=None: self.feature_names_in_)
columns = preproc_baseline.get_feature_names_out()

In [45]:
#X_train_transformed = X_train_transformed.todense()
X_train_transformed=pd.DataFrame(X_train_transformed, columns=preproc_baseline.get_feature_names_out())

In [46]:
#X_train_transformed=X_train_transformed[columns].astype('category')
#X_train_transformed['remainder__dif_min']=X_train_transformed['remainder__dif_min'].astype('float64')

In [47]:
X_train_transformed

,pipeline__DIA_1,pipeline__DIA_2,pipeline__DIA_3,pipeline__DIA_4,pipeline__DIA_5,pipeline__DIA_6,pipeline__DIA_7,pipeline__DIA_8,pipeline__DIA_9,pipeline__DIA_10,...,pipeline__DESTINO_Ushuia,pipeline__DESTINO_Valdivia,pipeline__temporada_alta_0,pipeline__temporada_alta_1,pipeline__periodo_dia_mañana,pipeline__periodo_dia_noche,pipeline__periodo_dia_tarde,remainder__dif_min,remainder__Cambio_destino,remainder__Cambio_aerolinea
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,21.0,False,True
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,-4.0,False,True
2,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,-1.0,False,False
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,1.0,1.0,0.0,0.0,16.0,False,False
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50326,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,-5.0,False,False
50327,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,-2.0,False,False
50328,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,5.0,False,False
50329,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,5.0,False,False
50330,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,1.0,0.0,0.0,0.0,1.0,7.0,False,False

In [48]:
#Enconding
ohe = OneHotEncoder()
y_train_transformed = ohe.fit(y_train)

ValueError: Expected 2D array, got 1D array instead:
array=[1 0 0 ... 0 0 0].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

# MODELLING

xUna vez que tenemos nuestras variables independientes listas y encondeadas podemos pasar al modelo de predicción. En este caso se usara Support Vector Machine(SVM). En caso de que la metrica no sea optima se buscar otro.

In [ ]:
X_test_transormed= preproc_baseline.transform(X_test)
X_test_transormed=pd.DataFrame(X_test_transormed, columns=preproc_baseline.get_feature_names_out())
X_test_transormed

In [ ]:
forest_bcw = RandomForestClassifier(n_estimators=100, max_depth=5, class_weight='balanced_subsample')
forest_bcw.fit(X_train_transformed, y_train)

In [ ]:
y_pred =forest_bcw.predict(X_test_transormed)

In [ ]:
forest_bcw.score(X_test_transormed, y_test)

In [ ]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import ConfusionMatrixDisplay

restultado =confusion_matrix(y_test, y_pred, normalize='pred')

In [ ]:
ax = sns.heatmap(restultado, annot=True, cmap='Blues')

ax.set_title('Seaborn Confusion Matrix with labels\n\n');
ax.set_xlabel('\nPredicted Values')
ax.set_ylabel('Actual Values ');

## Ticket labels - List must be in alphabetical order
ax.xaxis.set_ticklabels(['False','True'])
ax.yaxis.set_ticklabels(['False','True'])

## Display the visualization of the Confusion Matrix.
plt.show()

# Resulados

Lamentablemente no hemos podido probar modelos de manera optima y poder llegar a resultados satisfactorios. El mal resultado obtenido se puede deber principalmente al desbalanceo de las clases a predecir.
Tambien el tratemiento des las features puede no ser el adecuado. Para mejorar los resultados se propone mas tiempo de investigación que nos permitan encontrar otras variables como ser el clima, el poder detrminar si el avion es el primer vuelo que efectua o no(generalmente las causas relacionadas la limpieza de las aeronaves y al tratemiento de equipajes sin las principales causas de retrasos).

# Agradecimientos

No quiero dejar de mencionar que este ha sido mi primer experiencia en este tipo de entrevistas y de trabajos, ha sido rica como tal y me ha servido.Cualquier devolución sería de mucha ayuda para futuro. No tenido tiempo de un mejor desarrollo pero no quería dejar de enviar mi trabajo.

Desde ya agradezo haberme tenido en cuenta.
Saludos.-